zmodule environment
zmodule git
zmodule input
zmodule termtitle
zmodule utility
zmodule prompt-pwd
zmodule duration-info
zmodule git-info
zmodule gitster
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule zdharma-continuum/history-search-multi-word
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions
zmodule pabloariasal/zfm
zmodule Aloxaf/fzf-tab
